/* Стилі для body */
body {
    font-family: Arial, sans-serif;
    font-size: 100%;
    background-color: #F5F5F5;
}

/* Стилі для горизонтального меню */
ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Стилі для хедеру */
header {
    padding: 50px 0;
    background-color: #E9ECEF;
}

h1, h2 {
    color: #333333;
    text-align: center;
}

/* Стилі для блоку навігації */
nav {
    background-color: #007BFF;
    border-color: #0056b3;
    min-height: 64px;
}

nav li {
    background-color: #0056b3;
    color: #F5F5F5;
    float: left;
    width: 100px;
}

nav a {
    display: block;
    color: #F5F5F5;
    line-height: 4em;
    font-weight: bold;
    text-align: center;
}

nav li a:hover {
    color: #ffffff;
    background-color: #444444;
}

/* Стилі для абзаців */
p {
    font-size: 16px;
    line-height: 1.3em;
    margin-top: 0.1em;
    margin-bottom: 1em;
    color: #333333;
}

/* Стилі для футера */
footer {
    background-color: #E9ECEF;
    color: #000000;
    padding: 20px 0;
    margin-top: 30px;
}

.img {
    width: 200px;
    margin: 10px; /* Добавляем небольшой отступ вокруг изображений */
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Добавляем отступ для текста, чтобы он не прилипал к изображению */
p img.left {
    margin-right: 20px; /* Добавляем отступ справа для изображений, выровненных влево */
}

p img.right {
    margin-left: 20px; /* Добавляем отступ слева для изображений, выровненных вправо */
}

/* Очистка обтекания после каждого абзаца, содержащего изображение */
p:after {
    content: "";
    display: table;
    clear: both;
}

.img-container li {
    display: inline-block;
    width: 33.3%;
    margin: 0;
    padding: 0;
}
.img-container {
    text-align: center;
    margin-top:20px;
    width: 100%;
}
.img-container img {
    width: 100%;
    height: 450px; /* Задайте фиксированную высоту */
    object-fit: cover; /* Обеспечивает заполнение блока изображением без искажения пропорций */
    display: block; /* Используйте block вместо inline-block для предотвращения появления дополнительных промежутков */
    transition: .25s;
}
.img-container ul li {
    list-style-type: none;
}

.multimedia {
    overflow: auto;
}

.multimedia-video {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.33%;
    height: 550px;
    box-sizing: border-box;
}


img[src="media/images/mel7.jpg"] {
    width: 497px; /* Ширина будет рассчитываться автоматически, исходя из высоты, чтобы сохранить пропорции */
    height: 600px; /* Предполагаемая высота для примера */
}

/* Стиль для второго изображения */
img[src="media/images/mel8.jpg"] {
    height: 600px; /* Высота рассчитывается автоматически, чтобы сохранить пропорции */
    /* Ширина уже задана через атрибут width в HTML, но вы можете задать её и здесь: */
    width: 497px;
}

/* Стиль для третьего изображения */
img[src="media/images/mel9.jpg"] {
    height: 600px; /* Высота рассчитывается автоматически, чтобы сохранить пропорции */
    /* Ширина уже задана через атрибут width в HTML, но вы можете задать её и здесь: */
    width: 497px;
}

footer {
    clear: both;
    padding-top: 20px;
}